################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SortCollection/bin
/SortCollection/obj
/.vs
/SortCollectionUnitTest/bin
/SortCollectionUnitTest/obj
TODO_intern.txt
